Repository Aeturnia/Aeturnisv1: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/shared && npm run lint:fix, cd packages/shared && npm run format, cd packages/server && npm run lint:fix, cd packages/server && npm run format, cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

.lintstagedrc.json:

{
  "packages/shared/src/**/*.{ts}": [
    "cd packages/shared && npm run lint:fix",
    "cd packages/shared && npm run format"
  ],
  "packages/server/src/**/*.{ts}": [
    "cd packages/server && npm run lint:fix",
    "cd packages/server && npm run format"
  ],
  "packages/client/src/**/*.{ts,tsx}": [
    "cd packages/client && npm run lint:fix",
    "cd packages/client && npm run format"
  ],
  "*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ]
}

Improve overall project quality and standards with security enhancements
  audit/comprehensive-development-environment-audit-2025-follow-up.md
  eslint.config.js
Due: prettier --write

Improve project setup and fix code style issues for a cleaner codebase
  package.json
  packages/shared/src/interfaces/index.ts
  replit.md
Due: prettier --write

Start the backend server, add API endpoints, and enable cross-origin requests
  .replit
  attached_assets/image_1751586888134.png
  packages/server/package.json
  packages/server/src/index.ts
  replit.md
Due: prettier --write

Enable automated checks and code coverage reports for all changes
  .github/workflows/ci.yml
  README.md
  codecov.yml
  packages/client/package.json
  packages/client/vitest.config.ts
  packages/server/package.json
  packages/server/vitest.config.ts
  packages/shared/vitest.config.ts
  replit.md
Due: prettier --write

Adjust development environment ports and improve game action handling
  .replit
  packages/client/src/components/GameUI.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Modernize project with standard module configurations and enhance documentation
  attached_assets/image_1751590269572.png
  packages/server/tsconfig.json
  replit.md
  tsconfig.base.json
Due: prettier --write

Improve server stability by logging requests, connections, and errors
  attached_assets/image_1751591879786.png
  packages/server/src/index.ts
Due: prettier --write

Change the default port to allow easier website access from external sources
  .replit
Due: none

Complete initial project setup and create related documents
  Implementation Reports/1.1_Implementation_Report_070425_0125.md
  docs/game-design/aeturnis-mobile-design-doc.md
  docs/game-design/aeturnis_ai_charter.md
  docs/guides/aeturnis_roadmap.md
  docs/guides/implementation_loop_guidelines.md
  replit.md
Due: prettier --write

Exclude automatically generated folders to keep the project clean
  .gitignore
Due: none

Add new visual element to enhance the overall aesthetic of the game editor
  attached_assets/image_1751594439119.png
Due: none

Update automated testing system to ensure better code quality reporting
  replit.md
Due: prettier --write

Improve testing in the CI/CD pipeline by adding database password support
  .github/workflows/ci.yml
  replit.md
Due: prettier --write

Enable database support to store and manage game development data
  .replit
  attached_assets/Pasted--Replit-Agent-JWT-Authentication-System-Implementation-Objective-Implement-a-production--1751595317100_1751595317101.txt
  package-lock.json
  packages/server/.env.example
  packages/server/package.json
  packages/server/src/cache/redis.ts
  packages/server/src/database/index.ts
  packages/server/src/database/migrations/001_create_users.sql
  packages/server/src/index.ts
  packages/server/src/middleware/asyncHandler.ts
  packages/server/src/middleware/auth.ts
  packages/server/src/middleware/errorHandler.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/routes/auth.routes.ts
  packages/server/src/services/AuthService.ts
  packages/server/src/utils/errors.ts
Due: prettier --write

Add secure user authentication to the platform to protect user data
  replit.md
Due: prettier --write

Add image to help describe the authentication dependencies
  attached_assets/image_1751596338537.png
Due: none

Refactor server setup to improve project structure and streamline dependencies
  attached_assets/image_1751596616727.png
  packages/server/package.json
Due: prettier --write

Restructure server package configuration and dependencies for enhanced functionality
  package.json
Due: prettier --write

Improve the project setup and fix server startup issues for development
  attached_assets/image_1751597351273.png
  attached_assets/image_1751597373634.png
  attached_assets/image_1751597649334.png
  package-lock.json
  package.json
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/routes/auth.routes.ts
  replit.md
  src/index.ts
  tsconfig.json
Due: prettier --write

Enable full user authentication and enhance core game framework features
  package-lock.json
  package.json
  packages/server/src/database/index.ts
  packages/server/src/index.ts
  packages/server/src/middleware/auth.ts
  packages/server/src/middleware/errorHandler.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/routes/auth.routes.ts
  packages/server/src/services/AuthService.ts
  packages/server/tsconfig.json
  replit.md
Due: prettier --write

Complete authentication system audit, fixes, and comprehensive testing
  .replit
  1.2_audit_report.md
  attached_assets/Pasted--Replit-Agent-Perform-Authentication-System-Self-Audit-Objective-Conduct-a-comprehensive-se-1751598994495_1751598994496.txt
  packages/server/src/__tests__/auth.endpoints.test.ts
  packages/server/src/middleware/asyncHandler.ts
  packages/server/src/middleware/errorHandler.ts
  packages/server/src/services/AuthService.test.ts
  replit.md
Due: prettier --write

Ensure continuous integration runs smoothly and reliably on every code change
  .github/workflows/ci.yml
  attached_assets/image_1751601217758.png
  replit.md
  src/index.ts
Due: prettier --write

Provide report confirming authentication system implementation meets requirements
  replit.md
Due: prettier --write

Improve speed of continuous integration builds by disabling code coverage
  .github/workflows/ci.yml
  attached_assets/image_1751601993003.png
Due: none

Enable code coverage reports to ensure the reliability of game engine
  .github/workflows/ci.yml
  package-lock.json
  package.json
  replit.md
Due: prettier --write

Enhance the project with testing capabilities and security updates
  attached_assets/image_1751602546491.png
  package-lock.json
  package.json
  packages/server/package-lock.json
  replit.md
Due: prettier --write

Restructure project as a monorepo and streamline dependency management
  attached_assets/image_1751603003780.png
  package.json
Due: prettier --write

Keep project dependencies up to date with the latest versions for better stability
  packages/client/package.json
  packages/server/package.json
  packages/shared/package.json
Due: prettier --write

Adopt monorepo structure to streamline project management and sharing
  attached_assets/image_1751603502469.png
  package-lock.json
  replit.md
Due: prettier --write

Add a reference image that provides visual context for development
  attached_assets/image_1751603897839.png
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Add a new image to enhance the visual appeal of the user interface
  attached_assets/image_1751604072949.png
Due: none

Improve the automated testing setup to ensure consistent and reliable results
  replit.md
Due: prettier --write

Improve project stability and fix automated checks in the build pipeline
  attached_assets/image_1751604469587.png
  packages/server/src/services/AuthService.test.ts
  replit.md
Due: prettier --write

Add new visual assets to enhance the overall look and feel of the platform
  attached_assets/image_1751604757127.png
Due: none

Enable code coverage reporting and fix linting issues across the project
  attached_assets/Pasted-Run-npm-run-test-coverage-aeturnis-monorepo-1-0-0-test-coverage-npm-run-test-coverage-wor-1751605007316_1751605007318.txt
  replit.md
Due: prettier --write

Establish database system with schema, migrations, and seed data
  attached_assets/Pasted--Replit-Agent-Database-Schema-Migration-System-with-Drizzle-Objective-Implement-a-prod-1751605861416_1751605861417.txt
  package-lock.json
  package.json
  packages/server/drizzle.config.ts
  packages/server/package.json
  packages/server/scripts/migrate.ts
  packages/server/scripts/reset.ts
  packages/server/scripts/seed.ts
  packages/server/src/database/config.ts
  packages/server/src/database/migrations/0000_rainy_pride.sql
  packages/server/src/database/migrations/meta/0000_snapshot.json
  packages/server/src/database/migrations/meta/_journal.json
  packages/server/src/database/schema/index.ts
  packages/server/src/types/db/index.ts
  replit.md
Due: prettier --write

Certify the database schema and migration system as production ready
  attached_assets/Pasted--Replit-Agent-Self-Audit-for-Step-1-3-Database-Schema-Migration-System-Objective-Per-1751606597483_1751606597483.txt
  replit.md
Due: prettier --write

Enhance platform security and user access controls with new features
  attached_assets/image_1751607284167.png
  package-lock.json
  package.json
Due: prettier --write

Improve setup process for developers working on the game development platform
  .github/workflows/ci.yml
  attached_assets/image_1751607520469.png
Due: none
