Repository Aeturnia/Aeturnisv1: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/shared && npm run lint:fix, cd packages/shared && npm run format, cd packages/server && npm run lint:fix, cd packages/server && npm run format, cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

.lintstagedrc.json:

{
  "packages/shared/src/**/*.{ts}": [
    "cd packages/shared && npm run lint:fix",
    "cd packages/shared && npm run format"
  ],
  "packages/server/src/**/*.{ts}": [
    "cd packages/server && npm run lint:fix",
    "cd packages/server && npm run format"
  ],
  "packages/client/src/**/*.{ts,tsx}": [
    "cd packages/client && npm run lint:fix",
    "cd packages/client && npm run format"
  ],
  "*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ]
}

Improve error tracking and resolution process for project issues
  ErrorCatalog.md
Due: prettier --write

Add versioning to the error documentation for easier tracking of fixes
  ErrorCatalog.md
Due: prettier --write

Track error persistence across updates and fixes in the error catalog
  ErrorCatalog.md
Due: prettier --write

Improve error logging across game systems for easier debugging
  packages/server/src/controllers/combat.controller.simple.ts
  packages/server/src/controllers/combat.controller.ts
  packages/server/src/controllers/monster.controller.ts
  packages/server/src/controllers/npc.controller.ts
  packages/server/src/services/CombatService.ts
Due: prettier --write

Improve code quality and maintainability by replacing console logs with logger
  ErrorCatalog.md
  Fix_Report_Chunk7.md
  replit.md
Due: prettier --write

Improve overall system reliability with enhanced error handling and validation
  Fix_Report_Chunk8.md
  packages/server/src/controllers/combat.controller.ts
  packages/server/src/providers/interfaces/ICombatService.ts
  packages/server/src/services/BankService.ts
  packages/server/src/services/CombatService.ts
  packages/server/src/services/CurrencyService.ts
  packages/server/src/services/mock/MockProgressionService.ts
  packages/server/src/utils/errors.ts
  packages/server/src/utils/validators.ts
  replit.md
Due: prettier --write

Automate error resolution using systematic subagents and scripts
  .claude/settings.local.json
  ErrorCatalog.md
  ErrorFixv2.md
  Error_Fix_Cross_Reference.md
  Regression_Test_Report.md
  aeturnis_coding_sop.md
  backups/.gitkeep
  packages/server/ErrorFixv2.md
  replit.md
  scripts/README.md
  scripts/complete-unit.sh
  scripts/create-backup.sh
  scripts/progress-dashboard.sh
  scripts/rollback-unit.sh
  scripts/start-unit.sh
  units/.gitkeep
Due: prettier --write

Set up isolated test environment to validate code integrity
  start-unit.sh
  units/TYPE-A-001/baseline-errors.txt
  units/TYPE-A-001/baseline-tests.txt
  units/TYPE-A-001/unit.json
Due: prettier --write

Improve platform stability through fixing linting and testing configurations
  .replit
  units/TYPE-E-006/baseline-lint.txt
  units/TYPE-E-006/baseline-tests.txt
Due: none

Prepare the platform for UI development and preserve testing environment
  .replit
  packages/server/public/assets/index-CAHa10fh.js
  packages/server/public/index.html
  packages/server/src/app.ts
  packages/server/src/controllers/npc.controller.ts
  packages/server/src/routes/npc.routes.ts
  replit.md
  test-client/src/App-Testing.tsx
  test-client/src/App.tsx
  units/TYPE-E-006/README.md
  units/TYPE-E-006/baseline-lint.txt
  units/TYPE-E-006/unit.json
Due: prettier --write

Ensure code follows project guidelines and standards across all modules
  typecheck-output.txt
Due: none

CI Fix
  .github/workflows/ci.yml
  .github/workflows/typecheck.yml
  debug-typecheck.sh
  fix-typecheck-ci.sh
  package.json
  typecheck-output.txt
Due: prettier --write

CIFix v2
  .github/workflows/ci.yml
  packages/server/.eslintrc.ci.js
  packages/server/.eslintrc.js
  packages/server/package.json
  packages/server/src/types/express.d.ts
Due: prettier --write

Custom CI Fix
  .github/workflows/ci.yml
  package.json
  packages/server/.eslintrc.ci.js
  packages/server/.eslintrc.js
  packages/server/package.json
  packages/shared/package.json
Due: prettier --write

Integrate core mobile framework libraries to improve user experience
  package-lock.json
  package.json
  test-client/index.html
  test-client/public/manifest.json
  test-client/src/hooks/useOrientation.ts
  test-client/src/hooks/useTouch.ts
  test-client/src/utils/responsive.ts
Due: prettier --write

Create enhanced mobile experience with PWA support and touch controls
  package-lock.json
  package.json
  packages/client/index.html
  packages/client/package.json
  packages/client/postcss.config.js
  packages/client/public/manifest.json
  packages/client/public/service-worker.js
  packages/client/src/App.tsx
  packages/client/src/components/common/ErrorBoundary.tsx
  packages/client/src/components/common/LoadingScreen.tsx
  packages/client/src/components/game/CharacterScreen.tsx
  packages/client/src/components/game/GameScreen.tsx
  packages/client/src/components/game/InventoryScreen.tsx
  packages/client/src/components/game/MapScreen.tsx
  packages/client/src/components/game/SettingsScreen.tsx
  packages/client/src/components/layout/Header.tsx
  packages/client/src/components/layout/SafeArea.tsx
  packages/client/src/components/navigation/Navigation.tsx
  packages/client/src/hooks/useOrientation.ts
  packages/client/src/hooks/useTouch.ts
  packages/client/src/index.css
  packages/client/src/main.tsx
  packages/client/src/utils/offline.ts
  packages/client/src/utils/performance.ts
  packages/client/src/utils/responsive.ts
  packages/client/tailwind.config.js
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/vite.config.ts
  packages/server/public/assets/gesture-vendor-CKK3uJth.js
  packages/server/public/assets/index-B6pochvq.js
  packages/server/public/assets/motion-vendor-CD8PLs6k.js
  packages/server/public/assets/query-vendor-VBf2NspY.js
  packages/server/public/assets/react-vendor-BtP0CW_r.js
  packages/server/public/assets/router-vendor-Cn6bChYk.js
  packages/server/public/index.html
  packages/server/public/manifest.json
  packages/server/public/service-worker.js
  packages/server/src/app.ts
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Enhance user experience with performance improvements and PWA support
  .claude/settings.local.json
  package-lock.json
  packages/client/.size-limit.json
  packages/client/bundle-analysis.html
  packages/client/bundle-stats.json
  packages/client/package.json
  packages/client/public/service-worker.js
  packages/client/scripts/check-bundle-size.js
  packages/client/src/App.tsx
  packages/client/src/components/common/ErrorBoundary.tsx
  packages/client/src/components/common/InstallPrompt.tsx
  packages/client/src/components/common/LazyImage.tsx
  packages/client/src/components/common/LoadingScreen.tsx
  packages/client/src/components/common/MobileInput.tsx
  packages/client/src/components/common/PullToRefresh.tsx
  packages/client/src/components/common/ShareButton.tsx
  packages/client/src/components/common/VirtualList.tsx
  packages/client/src/components/common/index.ts
  packages/client/src/components/debug/DeveloperTools.tsx
  packages/client/src/components/debug/DeviceEmulator.tsx
  packages/client/src/components/debug/PerformanceMonitor.tsx
  packages/client/src/components/debug/TouchDebugOverlay.tsx
  packages/client/src/components/debug/index.ts
  packages/client/src/components/game/CharacterScreen.tsx
  packages/client/src/components/game/GameScreen.tsx
  packages/client/src/components/game/InventoryScreen.tsx
  packages/client/src/components/game/MapScreen.tsx
  packages/client/src/components/game/SettingsScreen.tsx
  packages/client/src/components/layout/Header.tsx
  packages/client/src/components/navigation/Navigation.tsx
  packages/client/src/index.css
  packages/client/src/main.tsx
  packages/client/src/utils/appInstall.ts
  packages/client/src/utils/devicePresets.ts
  packages/client/src/utils/performanceProfiler.ts
  packages/client/src/utils/pushNotifications.ts
  packages/client/src/utils/shareTarget.ts
  packages/client/vite.config.ts
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Improve database connection management and add server-side dependencies
  package-lock.json
  package.json
  packages/server/package.json
Due: prettier --write

Enable offline development with mock game services and tools
  packages/client/.env.example
  packages/client/MOCK_SERVICES.md
  packages/client/src/App.tsx
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/components/debug/DeveloperTools.tsx
  packages/client/src/components/game/CharacterScreen.tsx
  packages/client/src/hooks/useServices.ts
  packages/client/src/services/index.ts
  packages/client/src/services/mocks/MockCharacterService.ts
  packages/client/src/services/mocks/MockCombatService.ts
  packages/client/src/services/mocks/MockInventoryService.ts
  packages/client/src/services/mocks/MockLocationService.ts
  packages/client/src/services/mocks/base/MockService.ts
  packages/client/src/services/provider/interfaces/ICharacterService.ts
  packages/client/src/services/provider/interfaces/IInventoryService.ts
  packages/client/src/services/provider/interfaces/ILocationService.ts
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Add developer tools toggle and improve access to debugging features
  packages/client/MOCK_SERVICES.md
  packages/client/src/App.tsx
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/components/debug/DevToolsToggle.tsx
  packages/client/src/components/debug/DeveloperTools.tsx
  packages/client/src/components/game/CharacterScreen.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Refine app icons for better visual appeal and mobile device integration
  packages/client/index.html
  packages/client/public/generate-icons.html
  packages/client/public/icon.svg
  packages/client/public/manifest.json
Due: prettier --write

Add quick access development tools and mock data options to the game
  packages/client/public/enable-mocks.html
  packages/client/src/App.tsx
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/components/debug/SimpleDevToggle.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Implement system allowing developers to test game features without backend
  attached_assets/Pasted-I-ve-implemented-a-complete-Mock-Real-Service-Switching-System-for-the-Aeturnis-Online-frontend-t-1752159216011_1752159216032.txt
  packages/client/MOCK_SERVICES.md
  packages/client/src/App.tsx
  packages/client/src/components/debug/ServiceTester.tsx
  packages/client/src/services/core/EventEmitter.ts
  packages/client/src/services/index.ts
  packages/server/src/app.ts
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Display current game environment in the corner for easier testing
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/services/state/StateManager.ts
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Enable offline access and improve initial loading performance
  packages/server/public/index.html
  packages/server/public/manifest.webmanifest
  packages/server/public/registerSW.js
  packages/server/public/sw.js
  packages/server/public/workbox-375d7ee1.js
  packages/server/src/app.ts
Due: prettier --write

Show basic game information while services are loading/initializing
  attached_assets/image_1752160243923.png
  packages/client/src/App.tsx
  packages/server/public/index.html
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Enable demo mode with mock data for tutorial and feature showcasing
  attached_assets/image_1752160506949.png
  packages/server/public/index.html
  replit.md
Due: prettier --write

Improve debugging and logging for mock service switching functionality
  packages/server/public/index.html
Due: none

Serve the React app and resolve Content Security Policy issues
  package-lock.json
  package.json
  packages/server/src/app.ts
  replit.md
Due: prettier --write

Enhance game with MMO-style UI, equipment, advanced HUD elements
  attached_assets/Pasted-Context-You-ve-recently-implemented-a-mock-real-service-switching-system-that-allows-seamles-1752161664383_1752161664384.txt
  packages/client/src/App.tsx
  packages/client/src/components/debug/ServiceTester.tsx
  packages/client/src/components/game/CharacterScreen.tsx
  packages/client/src/components/game/GameScreen.tsx
  packages/client/src/components/game/combat/ActionBar.tsx
  packages/client/src/components/game/combat/ActionSlot.tsx
  packages/client/src/components/game/equipment/EquipmentPanel.tsx
  packages/client/src/components/game/equipment/EquipmentSlot.tsx
  packages/client/src/components/game/equipment/EquipmentStats.tsx
  packages/client/src/components/game/hud/BuffDebuffBar.tsx
  packages/client/src/components/game/hud/MiniMap.tsx
  packages/client/src/components/game/hud/QuestTracker.tsx
  packages/client/src/components/game/hud/TargetFrame.tsx
  packages/client/src/components/game/ui/CombatLog.tsx
  packages/client/src/components/game/ui/GameTextDisplay.tsx
  packages/client/src/hooks/useServices.ts
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Improve loading and error handling, ensure a smoother user experience
  attached_assets/Pasted--I-just-fixed-a-critical-service-initialization-race-condition-in-the-React-frontend-Please-rest-1752164908265_1752164908266.txt
  packages/client/src/components/common/ErrorBoundary.tsx
  packages/client/src/components/game/CharacterScreen.tsx
  packages/client/src/components/game/GameScreen.tsx
  packages/client/src/hooks/useServices.ts
  packages/client/src/services/state/StateManager.ts
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Improve display and arrangement of debugging tools on the user interface
  CLAUDE.md
  attached_assets/image_1752165274036.png
  packages/client/src/components/debug/ServiceTester.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Adjust the placement of developer tools for better screen alignment
  CLAUDE.md
  packages/client/src/components/debug/DeveloperTools.tsx
  packages/client/src/components/debug/SimpleDevToggle.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Adjust the layering and placement of on-screen debug tools
  attached_assets/image_1752165805039.png
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/components/debug/DeveloperTools.tsx
  packages/client/src/components/debug/ServiceTester.tsx
  packages/client/src/components/debug/SimpleDevToggle.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Improve the layout of developer tools and fix positioning issues
  attached_assets/image_1752166093634.png
  packages/client/src/App.tsx
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/components/debug/ServiceTester.tsx
  packages/client/src/components/debug/SimpleDevToggle.tsx
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write
