Repository Aeturnia/Aeturnisv1: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/shared && npm run lint:fix, cd packages/shared && npm run format, cd packages/server && npm run lint:fix, cd packages/server && npm run format, cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

.lintstagedrc.json:

{
  "packages/shared/src/**/*.{ts}": [
    "cd packages/shared && npm run lint:fix",
    "cd packages/shared && npm run format"
  ],
  "packages/server/src/**/*.{ts}": [
    "cd packages/server && npm run lint:fix",
    "cd packages/server && npm run format"
  ],
  "packages/client/src/**/*.{ts,tsx}": [
    "cd packages/client && npm run lint:fix",
    "cd packages/client && npm run format"
  ],
  "*.{js,ts,tsx,json,md}": [
    "prettier --write"
  ]
}

Relocate developer tools to a dedicated overlay, improving screen layout
  attached_assets/image_1752166335965.png
  packages/client/src/App.tsx
  packages/client/src/components/common/MockModeIndicator.tsx
  packages/client/src/components/debug/ServiceTester.tsx
  packages/client/src/components/debug/SimpleDevToggle.tsx
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Temporarily hide developer overlay to improve user interface development
  packages/client/src/App.tsx
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Saved your changes before starting work
  packages/client/src/App.tsx
  packages/client/src/utils/offline.ts
  packages/client/src/utils/performance.tsx
  packages/client/src/vite-env.d.ts
  packages/shared/src/types/bank.ts
  packages/shared/src/types/combat.ts
  packages/shared/src/types/currency.ts
  packages/shared/src/types/death.ts
  packages/shared/src/types/dialogue.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/loot.ts
  packages/shared/src/types/spawn.ts
  packages/shared/src/types/trade.ts
  packages/shared/src/types/zone.ts
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Fix server restart loop due to port conflict and improve error logging
  .replit
  CLAUDE.md
  packages/server/src/server.ts
  packages/server/src/sockets/SocketServer.ts
  replit.md
Due: prettier --write

Diagnose and resolve unexpected server restarts to ensure stable operation
  attached_assets/Pasted-Current-Situation-I-have-a-production-ready-TypeScript-MMORPG-backend-with-Express-js-14-mock-ser-1752182820443_1752182820443.txt
Due: none

Assistant checkpoint: Add comprehensive server monitoring and debugging
  .replit
  packages/server/src/app.ts
  packages/server/src/database/index.ts
  packages/server/src/routes/debug.routes.ts
  packages/server/src/server.ts
Due: prettier --write

Stabilize server by fixing build errors and improving error handling
  packages/server/src/routes/debug.routes.ts
  replit.md
Due: prettier --write

Improve platform stability through enhanced server monitoring and port fixes
  .replit
  packages/server/src/server.ts
  packages/server/src/utils/server-monitor.ts
  packages/server/test-server-stability.js
  replit.md
Due: prettier --write

Standardize network port to enhance reliability and prevent restart loops
  .claude/settings.local.json
  .replit
  PORT_FIX_SUMMARY.md
  README.md
  dev-both.sh
  fix-server-restart.sh
  packages/client/src/utils/auth-helper.ts
  packages/server/src/index.ts
  packages/server/src/server.ts
  packages/server/test-login-endpoint.js
  packages/server/test-login-username.js
  packages/server/test-server-stability.js
  replit.md
  scripts/progress-dashboard-v2.sh
  scripts/progress-dashboard.sh
  scripts/simple-progress-dashboard.sh
  test-client/src/services/socket.ts
  test-client/vite.config.ts
  verify-port-config.sh
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Temporarily disable service initialization to fix server restart loop
  packages/server/src/server.ts
Due: prettier --write

Reenable the game's online features and essential service components
  .replit
  fix-port-issue.sh
  packages/server/src/server.ts
  packages/server/src/utils/restart-debugger.ts
  packages/server/test-minimal-server.js
  replit.md
Due: prettier --write

Enable retrieval of live game data from the database instead of mock data
  packages/server/src/providers/index.ts
  packages/server/src/server.ts
  replit.md
Due: prettier --write

Improve server performance by reducing the frequency of monitoring checks
  packages/server/src/utils/server-monitor.ts
Due: prettier --write

Implement complete game service integrations using a real database
  packages/server/src/providers/index.ts
  packages/server/src/services/AffinityService.ts
  packages/server/src/services/MovementService.ts
  packages/server/src/services/ProgressionService.ts
  packages/server/src/services/TutorialService.ts
  packages/server/src/services/ZoneService.ts
  replit.md
Due: prettier --write

Refine the server console output and enhance service initialization
  packages/server/src/app.ts
  packages/server/src/providers/index.ts
  packages/server/src/server.ts
  replit.md
Due: prettier --write

Implement server version tracking for better identification and management
  packages/server/src/config/version.ts
  packages/server/src/server.ts
  replit.md
Due: prettier --write

Fix website errors and provide images for improved user experience
  attached_assets/image_1752192776792.png
  packages/client/public/icon-192.png
  packages/client/public/icon-192.svg
  packages/client/public/icon-512.png
  packages/client/public/icon-512.svg
  packages/client/public/screenshot-mobile.png
  packages/server/public/icon-192.png
  packages/server/public/icon-192.svg
  packages/server/public/icon-512.png
  packages/server/public/icon-512.svg
  packages/server/public/screenshot-mobile.png
  packages/server/public/sw.js
  packages/server/public/workbox-375d7ee1.js
  replit.md
Due: prettier --write

Fix errors and get the application running after recent upgrades
  packages/client/src/services/index.ts
  packages/client/src/services/provider/ServiceProvider.ts
  replit.md
Due: cd packages/client && npm run lint:fix, cd packages/client && npm run format, prettier --write

Introduce guidelines to improve team collaboration and feature implementation
  CLAUDE.md
  Working_SOP_Guidelinesv1.md
Due: prettier --write

Introduce a structured development methodology using specialized AI agents
  CAFE_Methodology_v2_Division_Protocol.md
  Phases_SOP.md
  attached_assets/Pasted--Context-Aeturnis-Online-MMORPG-Frontend-Implementation-Tasks-You-are-the-Replit-Agent-worki-1752194475316_1752194475318.txt
Due: prettier --write

Commit
  Replit_DoL_SOP.md
Due: prettier --write
